
#footer {
    
    background-color: #1e1005;
    color: #fbf0da;

    .inner {
        display: grid;
        grid-template-columns: repeat(10, minmax(0,1fr));
        gap: 10px;
        padding: 100px 40px;

        @include tablet {

            padding: 100px 20px;
        }
        @include mobile {
            display: flex;
            flex-flow: column nowrap;
            gap: 30px;
            padding: 40px 20px;
        }

        nav {
            grid-column: 1 / 4;

            .nav-list {

                @include tablet {
                    font-size: 20px;
                }
                font-size: 34px;
                font-weight: 400;
                text-transform: uppercase;
                display: flex;
                flex-flow: column wrap;
                gap: 10px;

                
    
                .number {
                    font-size: 16px;
                    margin-top: 6px;
                }
    
                .name{
                    position: relative;
    
                    &::before{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .4s;
                        content: '';
                    }

                    
                }
    
    
                a {
                    display: flex;
                    align-items:flex-start;
                    gap: 24px;
    
                    &:hover {
                        .name {
                            &::before{
                                transform: scale(1);
                                transform-origin: left;
                            }
                        }
                    }
                }
            }
        }

        

        .right {
            grid-column: 6 / span 5;
    
            .contact {
                margin-top: 50px;
                display: grid;
                grid-template-areas:
                'dl dl dl'
                'dl dl dl';
    
                .contact-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
    
                    &:first-child {
                        grid-column: 1 / 2;
                    }
    
                    &:last-child {
                        grid-column: 4 / 5;
                    }
    
                    dl {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2px;
                        text-transform: uppercase;
                        grid-area: dl;
                    
                    }
                    dd {
                        font-size: 12px;
                        font-family: none;
                    
                        opacity: 0.6;
                    }
                    
                }
            }
        }
    }

    
}

