
#header {
    transform: translateY(0%);
    transition: transform 0.3s;
    /* border-bottom: 2px solid $color-red; */
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 800;
    overflow: hidden;
    --scale: 0;

    .header-inner {
        width: 100%;
        height: 100%;
        padding: 36px 40px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        // @include ellipse;
        overflow: hidden;

        @include tablet {
            padding: 36px 20px;
        }

        .logo {
            height: 100%;
            svg {
                height: 100%;
                fill: rgb(251, 240, 218);
                @include tablet {
                    width: 80%;
                }
            }
            path {
                fill: rgb(251, 240, 218);
                
            }
            
        }

        .est-box {
            overflow: hidden;
        }
        .est {
            transform: translateY(100%);
            display: inline-block;
        }

        nav {
            @include mobile {
                gap: 40px;
            }
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 100px;
            color: #fbf0da;

            > span {
                font-size: 14px;
                font-weight: 500;
                font-family: none;
            }

            .menu-btn {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                min-width: unset;
                border-radius: 0;
                .bar {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    clip-path: inset(0 100% 0 0);
                    span {
                        width: 100%;
                        height: 5px;
                        position: relative;
                        display: block;
                        overflow: hidden;
                    
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            content: '';
                        }
                        &::after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #fff;
                            width: 100%;
                            height: 2px;
                            transform: translateX(-100%);
                            /* transition: .2s; */
                            content: '';
                        }

                    }
                    
                    
                }
                &:hover {
                    .line1 {
                        &::before{
                            transform: translateX(100%);
                            transition: 0.2s;
                        }
                        &::after{
                            transform: translateX(0%);
                            transition: 0.2s 0.1s;
                        }
                    }
                    .line2 {
                        &::before{
                            transform: translateX(100%);
                            transition: 0.2s 0.3s;
                        }
                        &::after{
                            transform: translateX(0%);
                            transition: 0.2s 0.5s;
                        }
                    }
                    
                }
            }
        }
    }
    

    &::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform-origin: left;
        scale: var(--scale);
        content: '';
    }

    &.moveUp {
        transform: translateY(-100%);
    }

    &.headerBlack {
        color: #1e1005;
        &::after {
            background-color: #1e1005;
        }
        nav {
            span {
                color: #1e1005;
            }

        }
        .menu-btn {
            span {
                &::after, &::before{
                    background-color: #1e1005 !important;
                }
            }
            
        }
        path {
            fill: #1e1005 !important;
        }
    }
}



/* 메뉴 영역 */
.menu-area {

    @include mobile {
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        left: 0;
    }

    display: flex;
    width: 100%;
    visibility: hidden;
    /* position: fixed; top: 0;left: 0; */
    position: relative;
    z-index: 999;

    &.on {
        visibility: visible;

        .nav-list-wrap {
            transform: translateX(0%);
        }
        .contact-wrap {
            transform: translateX(0%);
        }
    }
    nav {
        height: 100%;
    }
    
    .nav-list-wrap {
        @include mobile {
            height: 45vh;
            width: 100%;
            position: unset;
        }
        
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 900;
        width: 50%;
        background-color: #fbf0da;
        transform: translateX(-100%);
        transition: all 1s;
    }
    .nav-list {
        @include tablet {
            font-size: 24px;
        }
        @include mobile {
            font-size: 20px;
        }
        font-size: 38px;
        color: #1e1005 !important;
        text-transform: uppercase;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        width: 100%;
    }
    .nav-item {
        flex: 1;
        display: flex;
        align-content: center;
        flex-flow: row wrap;
        border-bottom: 1px solid #1e1005;
        padding: 0 30px;
        position: relative;

        a {
            display: flex;
            align-items:center;
            gap: 24px;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
        }

        .number {
            font-size: 16px;
            margin-top: 6px;
        }

        .name {
            position: relative;
            left: 0;
            transition: left 0.5s;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            background-color: #d2c6b0;
            z-index: 1;
            transition: transform 0.75s;
        }
        &::before{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #9c7443;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1s;
            content: '';
        }
    }

    .contact-wrap {
        /* @include tablet {
            padding: 40px 20px;
        } */
        @include mobile {
            height: 55vh;
            width: 100%;
            position: unset;

        }
        color: #fbf0da;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        /* padding: 40px 0 0; */
        z-index: 900;
        width: 50%;
        background-color: #1e1005;
        transform: translateX(100%);
        transition: all 1s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .svg-box {
            @include tablet {
                margin-bottom: 50px;
            }
            @include mobile {
                display: none;
                
            }
            width: 35%;
            aspect-ratio: 1.1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fbf0da;
            border-radius: 45%;
            opacity: 0;
            margin: 20px auto 0;
            
            svg {
                width: 60%;
                fill: #fbf0da;
            }
        }
    }
    .contact-list-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        gap: 25px;

        @include mobile {
            justify-content: flex-start;
            gap: 15px;
            padding: 20px 0 0;
        }
    }
    .contact-list-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width:  70%;
        gap: 10px;

        @include mobile {
            width: 100%;
            padding: 0 20px;

        }

        dl {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 2px;
            text-transform: uppercase;
            overflow: hidden;

            dt {
                opacity: 0;
                transform: translateY(100%);
                @include mobile {
                    font-size: 14px;
                }
            }
            dd {
                font-size: 12px;
                font-family: none;
            
                transform: translateY(100%);
            }
        }
    }
    .contact-bottom {
        @include mobile {
            padding: 20px;
            justify-content: flex-start;
        }

        border-top: 1px solid #fbf0da;
        padding: 30px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        text-transform: uppercase;
        font-family: none;
        /* position: absolute;
        bottom: 0;
        left: 0; */

        span {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            letter-spacing: 1px;
        }
    }
    .bottom-line {
        width: 100%;
        height: 1px;
        background-color: #fbf0da;
    }
    .close-btn {
        @include mobile {
            top: unset;
            bottom: 13px;
            height: 32px;
            z-index: 1;
        }
        color: #fbf0da;
        background-color: #9c7443;
        border: 1px solid #9c7443;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 6px 16px;
        font-size: 12px;
        border-radius: 25px;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: unset;

        &:hover {
            background-color: transparent;
            border: 1px solid #fbf0da;
        }
    }
}


.menu-area .nav-item:hover::after {
    height: 100%;
    transform: scaleY(1);
}
.menu-area .nav-item:hover::before{
    transform: scale(1);
    transform-origin: left;
}
.menu-area .nav-item:hover .name {
    left: 30px;
}



