body {
    background-color: #fbf0da;
    color: #1e1005;


}
/* 이미지 공통 효과 css */
[data-scroll="updown"] {
    overflow: hidden;
}

[data-scroll="updown"] img {
    transform:  scale(1.2);
    object-fit: cover;
}
[data-clip-path="inset"] {
    clip-path: inset(0 100% 0 0);
}

.line-wrap  {
    overflow:  hidden;
}
.line-wrap .line {
    transform: translateY(100%);
}

body > * {
    width: 100%;
}
main#container > * {
    width: 100%;
}

main#container {
    width: 100%;
    position: relative;
    transition: all 0.7s;
    --visibility: hidden;
    --opacity: 0;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color:#000;
        z-index: 990;
        transition: all 0.7s;
        visibility: var(--visibility);
        opacity: var(--opacity);
    }
}


.sc-intro .group-home {
    @include tablet {
        padding: 120px 20px 50px;
    }
    @include mobile {
        padding: 60px 20px 20px;
    }

    height: 100vh;
    background-image: url(../images/home-bg.webp);
    background-size: cover;
    position: relative;
    --opacity: 0.65;
    padding: 95px 40px;
    z-index: 2;
    display: flex;
    align-items: flex-end;

    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: var(--opacity);
        content: '';
        z-index: 1;
    }

    .content {

        @include tablet {
            flex-direction: column;
            gap: 40px;
        }
        

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index: 3;

        .svg-wrap {
            width: 70%;

            @include tablet {
                width: 100%;
            }
            
        }

        .text-area {
            @include tablet {
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
            }
            @include mobile {
                width: 100%;
                flex-flow: row wrap;
                gap: 40px;
            }

            color: #fbf0da;
            width: 20%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            gap: 60px;
            position: relative;

            svg {
                width: 30%;
                margin-bottom: 20px;
            }
            .scroll-text {
                text-transform: uppercase;
            }
            .desc {
                @include tablet {
                    width: 45%;
                }
                @include mobile {
                    width: 100%;
                }
                
                font-family: none;
            }
            
            
        }
    }
    
}


.sc-intro .group-about {
    .top-area {
        @include tablet {
            padding: 100px 20px 100px;
            grid-template-columns: repeat(6, minmax(0,1fr));
            gap: 40px;
        }
        
        padding: 140px 40px 250px;
        display: grid;
        grid-template-columns: repeat(10, minmax(0,1fr));
        grid-column-gap:10px;
        align-items: flex-start;

        .left-wrap {

            @include mobile {
                grid-column-end: span 5;
            }
            
            grid-column-end: span 3;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        
            height: 100%;

            .title-box {
                width: fit-content;
                flex-flow: column wrap;
                align-items: center;
                display: flex;
                gap: 5px;

                @include tablet {
                    margin-bottom: 20px;
                    gap: 0px;
                }
            }
            svg {
                max-width: 80px;
                @include tablet {
                    max-width: 60px;
                }
                @include mobile {
                    max-width: 50px;
                }
            }
            .title {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                gap: 5px;
                @include tablet {
                    gap: 0;
                }

                span {
                    font-size: 28px;
                    text-transform: uppercase;
                    @include tablet {
                        font-size: 24px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                    
                }
                .sub-title {
                    font-size: 18px;
                    text-transform: uppercase;

                    @include mobile {
                        font-size: 14px;
                    }
                }
            }

            .text-box {
                @include tablet {
                    width: unset;
                }
                width: 80%;
                font-weight: 500;
                font-size: clamp(40px,5vw,82px);
                text-transform: uppercase;
                line-height: 1;
                p {
                    font-family: none;
                }
                h2 {
                    display: flex;
                    flex-flow: column wrap;
                }
            }
        }

        .center-wrap {
            grid-column-start: 4;
            grid-column-end: 8;
            display: flex;
            @include tablet {
                grid-column: 1 / 7;
            }

            .img-box {
                overflow: hidden;
                width: 100%;
                aspect-ratio: 3 / 3.5;

                @include tablet {
                    aspect-ratio: 3.4 / 2.1;
                }
            }
        }

        .right-wrap {
            @include tablet {
                grid-template-columns: repeat(6, minmax(0,1fr));
                gap: 40px;
                grid-column: 1 / 7;
            }
            @include mobile {
                grid-column: 1 / span 6;
            }
            grid-column: 9 / span 2;
            display: grid;
            height: 100%;

            .text-box {
                font-family: none;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
                gap: 20px;
                min-width: 80%;
                @include tablet {
                    grid-column: 1 / 6;
                    min-width: unset;
                }
                @include mobile {
                    grid-column: 1 / 7;
                }
            }
            .img-box {
                @include tablet {
                    grid-column: 1 / 7;
                    aspect-ratio: 2 / 1;
                }
                img {
                    width: 100%;
                }
            }
        }
    }

    .bottom-area {
        /* top: 0; */
        height: 400vh;

        .sticky-wrapper{
            height: 500vh;

            .sticky{ 
                @include tablet {
                    padding: 100px 20px 100px;
                    margin-top: 0;
                }
                position: sticky;
                top: 0;
                padding: 100px 40px 200px;
                margin-top: 100px;
                height: 100vh;
                border-top: 1px solid #1e1005;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .title-wrap {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            position: relative;
            z-index: 1;

            .title-box {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                gap: 5px;
                margin-bottom: 20px;
                @include tablet {
                    gap: 0px;
                }

                svg {
                    max-width: 80px;
                    @include tablet {
                        max-width: 60px;
                    }
                    @include tablet {
                        max-width: 50px;
                    }
                }

                .title {
                    text-transform: uppercase;
                    font-size: 28px;
                    @include tablet {
                        font-size: 24px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                    &:last-child {
                        font-size: 18px;
                        @include mobile {
                            font-size: 14px;
                        }
                    }
                    
                }
            }
            .innovation-text {
                text-transform: uppercase;
                font-size: clamp(40px,10vw,200px);
                line-height: 0.95;
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                .text-line {
                    /* display: flex; */
                    perspective: 800px;
                }

                /* @include tablet {
                    font-size: 100px;
                }
                @include mobile {
                    font-size: 70px;
                }
                @include mobileSmall {
                    font-size: 40px;
                } */
            
            }
        }

        .img-wrap {
            width: 100%;
            position: absolute;
           /*  min-height: 100vh; */
            display: grid;
            grid-template-columns: repeat(10, minmax(0,1fr));
            grid-column-gap:10px;
            align-items: baseline;
            justify-content: space-between;
            z-index: 2;

            .img-box {
                aspect-ratio: 1 / 1;
                display: flex;
                position: relative;
                overflow: hidden;

                &:first-child {
                    grid-column: 1 / 3;
                    max-width: 14rem;

                    @include mobile {
                        grid-column: 1 / 6;
                    }
                }

                &:nth-child(2) {
                    grid-column: 4 / 8;

                    @include mobile {
                        grid-column: 4 / 8;
                    }
                }
                
                &:nth-child(3) {
                    grid-column: 9 / span 2;
                    aspect-ratio: 2 / 1;
                    max-width: 14rem;

                    @include mobile {
                        grid-column: 7 / span 4;
                        max-width: none;
                    }
                }

                /* img {
                    width: calc(100% + 100px);
                    height: calc(100% + 100px);
                    max-width: none;
                    transform: translateY(-50px);
                    object-fit: cover;
                } */
                
            }

            &.img-wrap1  {

                @include tablet {
                    height: 50vh;
                }
                @include mobile {
                    padding: 0px 20px 0px;
                    transform: translateY(40%);
                }

                top: 0;left: 0;
                height: 100vh;
                padding: 100px 40px 0px;
                transform: translateY(0);

                .img-box{
                    @include mobile {
                        &:first-child {
                            transform: translateY(200%);
                        }
                        &:nth-child(2) {
                            transform: translateY(50%);
                        }
                        &:nth-child(3) {
                            transform: translateY(100%);
                        }
                    }
                    
                }
            
            }

            &.img-wrap2 {
                padding: 100px 40px 0px;
                align-items: flex-end;
                /* top: 150%; */
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                transform: translateY(50%);

                @include tablet {
                    transform: translateY(20%);
                }

                @include mobile {
                    padding: 0px 20px 0px;
                    transform: translateY(100%);
                    height: 50vh;
                }

                .img-box {
                    &:first-child {
                        aspect-ratio: 2 / 1;
                        max-width: 16rem;
                    
                    }
                    &:nth-child(2) {
                        grid-column: 4 / span 3;
                        max-width: 10rem;
                        justify-self: center;
                        top: 100px;
                    }
                    &:nth-child(3) {
                        aspect-ratio: 1 / 1;
                        bottom: 70px;
                    
                    }
                }
            
            }
        
        }
    }
}
#container > section.sc-intro > div.group-about > div.top-area > div.right-wrap > .img-box {
    aspect-ratio: 3.4 / 2.1;
}



.sc-project {
    color: #fbf0da;

    .project-list {
        height: 330vh;
        position: relative;
    }
    .project-item {
        position: sticky;
        top: 0;
        height: 110vh;
        background-image: url(../images/project01.webp);
        /* background-size: 130%; */
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        &:nth-child(2) {
            background-image: url(../images/project02.webp);
        }
        &:nth-child(3) {
            background-image: url(../images/project03.webp);
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.7;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .inner {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            padding: 200px 40px 240px;

            @include tablet {
                padding: 140px 20px 140px;
            }
            @include mobile {
                padding: 100px 20px;
                flex-flow: column nowrap;
                align-items: flex-start;
            }

            .title {
                @include tablet {
                    font-size: 70px;
                }
                @include mobile {
                    font-size: 40px;
                }

                font-size: 100px;
                font-weight: 500;
                line-height: 1;
                text-transform: uppercase;
                display: flex;
                flex-flow: column wrap;
                gap: 30px;
                align-items: flex-start;

                img {
                    width: 120px;
                    @include mobile {
                        width: 100px;
                    }
                }
            }

            .fraction {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                height: 100%;

                @include mobile {
                    align-items: flex-end;
                    flex-flow: row nowrap; width: 100%;
                }

                p {
                    font-size: 26px;
                    font-weight: 500;
                    letter-spacing: 12px;

                    @include mobile {
                        font-size: 20px;
                    }
                }
            }
            
        }
    }
    
}
.sc-arcitecture {
    padding: 200px 40px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(10, minmax(0,1fr));

    @include tablet {
        padding: 100px 20px;
        grid-template-columns: repeat(5, minmax(0,1fr));
        gap: 40px;
    }

    .left {
        @include tablet {
            
            grid-column: 1 / span 5;
        }

        grid-column: 1 / 5;

        .img-wrap {
            @include tablet {
                aspect-ratio: 3.4 / 2.1;
            }
        }
    }

    .right {
        @include tablet {
            grid-column: 1 / span 5;
            gap: 40px;
        }

        grid-column: 6 / span 5 ;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .right-top {
            display: grid;
            column-gap: 10px;
            grid-template-columns: repeat(5, minmax(0,1fr));

            @include tablet {
                gap: 20px;
            }

            img {
                width: 100%;
            }

            .title-wrap {
                width: fit-content;
                flex-flow: column wrap;
                align-items: center;
                display: flex;
                gap: 5px;
                grid-column: 1 / 4;

                @include tablet {
            
                    grid-column: 1 / span 5;
                    gap: 0px;
                }

                svg {
                    max-width: 80px;
                    @include tablet {
            
                        max-width: 60px;
                    }
                    @include mobile {
            
                        max-width: 50px;
                    }
                }

                .title {
                    font-size: 28px;
                    @include tablet {
            
                        font-size: 24px;
                    }
                    @include mobile {
            
                        font-size: 20px;
                    }
                    text-transform: uppercase;
                }

                .sub-title {
                    font-size: 18px;
                    text-transform: uppercase;
                    @include mobile {
                        font-size: 14px;
                    }
                }
            }

            .img-wrap {
                grid-column: 4 / span 2;
                aspect-ratio: 3.4 / 2.1;
                overflow: hidden;

                @include tablet {
                    grid-column: 1 / span 5;
                }
            }
        }

        .right-bottom {
            @include mobile {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
            }   
                
            @include tablet {
                gap: 20px;
            }

            display: grid;
            column-gap: 10px;
            align-items: flex-end;
            grid-template-columns: repeat(5, minmax(0,1fr));

            
            h2 {
                @include mobile {
                    grid-column: 1 / 5;
                }
                grid-column: 1 / 4;
                display: flex;
                flex-flow: column wrap;
                font-weight: 500;
                font-size: clamp(40px,5vw,82px);
                text-transform: uppercase;
                line-height: 1;
            }

            .desc-wrap {
                @include mobile {
                    width: 100% !important;
                    grid-column: 1 / span 6;
                }
                @include tablet {
                    gap: 20px;
                    grid-column: 1 / span 5;
                    width: 70%;
                }
                
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                grid-column: 4 / span 2;
                height: 100%;
                align-items: flex-start;

                

                p {
                    font-family: none;
                }
            }
        }
    }
}

.sc-precision {
    padding: 100px 40px 200px;
    @include tablet {
        padding: 100px 20px 100px;
    }

    .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .line-wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        @include tablet {
            gap: 20px;
        }
        
        .line {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            height: fit-content;

            @include tablet {
                gap: 20px;
            }

            .title-box {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                svg {
                    max-width: 80px;

                    @include tablet {
                        max-width: 60px;
                    }
                    @include mobile {
                        max-width: 50px;
                    }
                }

                .title {

                    @include tablet {
                        font-size: 24px;
                        gap: 0px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                    font-size: 28px;
                    display: flex;
                    text-transform: uppercase;
                    flex-flow: column wrap;
                    align-items: center;
                    gap: 5px;

                    .sub-title {
                        font-size: 18px;
                        text-transform: uppercase;
                        @include mobile {
                            font-size: 14px;
                        }
                    }
                }
            }
            p {
                text-transform: uppercase;
                font-size: clamp(40px,10vw,200px);
                line-height: 0.95;
            }

            .img-box {
                aspect-ratio: 4 / 1.6;
                width: 25%;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: calc(100% + 60px);
                    height: calc(100% + 60px);
                }
            }

            .desc-box {
                @include tablet {
                    width: 40%;
                }
                @include mobile {
                    width: 80%;

                }
                text-transform:initial !important;
                width: 20%;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
                gap: 30px;


                p {
                    text-transform: none;
                    font-size: 14px;
                    line-height: unset;
                    font-family: none;
                }
            }
            
            &.first {
                @include mobile {
                    flex-flow: column nowrap;
                }
            }

            &.center {
                @include tablet {
                    display: flex;
                    flex-flow: column nowrap;
                }
                @include tablet {
                    gap: 30px;
                }
                
            }
        }

    }
}


#container > section.sc-precision > div > div > div:nth-child(2) > div {
    align-items: flex-start !important;
}

.sc-ichi {
    height: 120vh;
    position: relative;
    color: #fbf0da;

    @include tablet {
        height: unset;
    }

    .bg-area {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1e1005;
            opacity: 0.6;
        }

        img {
            width: 130%;
            height: 130%;
        }
    }

    .inner-area {
        @include tablet {
            padding: 100px 20px;
            gap: 100px;
        }
        padding: 100px 40px;
        height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        .top {
            display: flex;
            justify-content: flex-start;
        }
        .title-box {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            gap: 10px;

            svg {
                max-width: 250px;
                @include tablet {
                    max-width: 200px;
                }
                @include mobile {
                    max-width: 170px;
                }
                
            }

            .title {
                font-size: 28px;
                text-transform: uppercase;

                @include tablet {
                    font-size: 24px;
                }
                @include mobile {
                    font-size: 20px;
                }
            }
        }

        .bottom {
            @include tablet {
                justify-content: flex-start;
            }

            display: flex;
            justify-content: flex-end;
            width: 100%;

            .desc {
                font-family: none;
                width: 18%;

                @include tablet {
                    width: 60%;
                }
                @include mobile {
                    width: 100%;
                }
            }
        }

        
    }
}

.sc-craft {
    padding-bottom: 200px;

    .left {
        
        @include tablet {
            grid-column: 1 / span 5;
        }
        
        grid-column: 1 / 3;

        .left-group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 100%;
            @include tablet {
                align-items: flex-start;
            }

            .title-box {
                
                @include tablet {
                    gap: 0;
                }

                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                gap: 5px;

                svg {
                    
                    @include tablet {
                        max-width: 60px;
                        gap: 0;
                    }
                    @include mobile {
                        max-width: 50px;
                    }

                    max-width: 80px;
                }

                .title {

                    @include tablet {
                        font-size: 24px;
                        gap: 0;
                    }
                    @include mobile {
                        font-size: 20px;
                        gap: 0;
                    }

                    font-size: 28px;
                    display: flex;
                    text-transform: uppercase;
                    flex-flow: column nowrap;
                    align-items: center;
                    gap: 5px;
                    
                }
                .sub-title {
                    font-size: 18px;
                    text-transform: uppercase;

                    @include mobile {
                        font-size: 14px;
                    }
                }
                
            } 
            .img-wrap {
                aspect-ratio: 1 / 1;

                @include tablet {
                    aspect-ratio: 3 / 1;
                    width: 100%;
                    margin-top: 10px;
                }
                @include mobile {
                    aspect-ratio: 3.4 / 2.1;
                }
            } 
            .img-wrap img {
                height: 100%;
                width: 100%;
            }
        } 
    }
    .center {
        @include tablet {
            grid-column: 1 / span 5;
            gap: 30px;
        }
        grid-column: 4 / 6;
        display: flex;
        flex-flow: column wrap;
        gap: 50px;

        h2 {
            display: flex;
            flex-flow: column wrap;
            font-weight: 500;
            font-size: clamp(40px,5vw,82px);
            text-transform: uppercase;
            line-height: 1;
            
        }
        .desc-wrap {
            display: flex;
            flex-flow: column wrap;
            gap: 30px;
            align-items: flex-start;
            font-family: none;
            
            @include tablet {
                width: 70%;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    .right {
        @include tablet {
            grid-column: 1 / span 5;
        }
        grid-column: 7 / span 4;

        .img-wrap {
            @include tablet {
                aspect-ratio: 3.4 / 2.1;
            }

        }
    }
}

#container > section.sc-craft.sc-arcitecture > div.left > div > div.title-box > div > div > div {
    text-align: center;
}